ignore
apps/svcat
prep.md
**/package-lock.json
terraform/**/variables_mod.tf
terraform/**/.terraform*
terraform/**/out.plan
terraform/**/terraform.tfstate
terraform/**/terraform.tfstate.backup
challenges.6.md