{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ include "multicalculatorcanary.fullname" . }}
  labels:
    {{- include "multicalculatorcanary.labels" . | nindent 4 }}
  annotations:
    kubernetes.io/ingress.class: {{ .Values.ingress.class }}
  {{- if .Values.ingress.canary }}
    appgw.ingress.kubernetes.io/backend-path-prefix: "/"
    nginx.ingress.kubernetes.io/canary: "true"
    nginx.ingress.kubernetes.io/canary-by-header: "canary"
    nginx.ingress.kubernetes.io/canary-weight: "{{ .Values.ingress.weight }}"
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- else }}
  {{- with .Values.ingress.annotations }}
    {{- toYaml . | nindent 4 }}
  {{- end }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
    - hosts:
      - {{ .Values.ingress.host | quote }}
      secretName: {{ include "multicalculatorcanary.fullname" . }}-tls
{{- end }}
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
  {{- if and (.Values.ingress.canary) (eq .Values.ingress.class "azure/application-gateway") }}
          - path: /canary/*
            backend:
              serviceName: {{ include "multicalculatorcanary.fullname" . }}-frontend-svc
              servicePort: {{ .Values.service.port }}
  {{- else }}
          - path: 
            backend:
              serviceName: {{ include "multicalculatorcanary.fullname" . }}-frontend-svc
              servicePort: {{ .Values.service.port }}
  {{- end }}
{{- end }}
