{{- if .Values.ingress.enabled -}}
apiVersion: networking.k8s.io/v1beta1
kind: Ingress
metadata:
  name: {{ include "multicalculator.fullname" . }}
  labels:
    {{- include "multicalculator.labels" . | nindent 4 }}
  {{- with .Values.ingress.annotations }}
  annotations:
    {{- toYaml . | nindent 4 }}
  {{- end }}
spec:
{{- if .Values.ingress.tls }}
  tls:
    - hosts:
      - {{ .Values.ingress.host | quote }}
      secretName: {{ include "multicalculator.fullname" . }}-tls
{{- end }}
  rules:
    - host: {{ .Values.ingress.host | quote }}
      http:
        paths:
          - path:
            backend:
              serviceName: {{ include "multicalculator.fullname" . }}-frontend-svc
              servicePort: {{ .Values.service.port }}
{{- end }}
