name: dockerhub-aci-helloworld

on: 
  push:
    paths:
      - 'apps/aci-helloworld/**'

jobs:

  build:

    runs-on: ubuntu-latest

    steps:
    - uses: actions/checkout@v1
    - name: Build the Docker image
      env:
        DOCKER_HUB: ${{ secrets.DOCKER_HUB }}
        DOCKER_HUB_SECRET: ${{ secrets.DOCKER_HUB_SECRET }}
      run: |
        ls -l
        cd apps/aci-helloworld
        ls -l
        echo "Docker login"
        docker login -u $DOCKER_HUB -p $DOCKER_HUB_SECRET
        echo "Running docker build"
        docker build . --tag denniszielke/aci-helloworld:latest	       
        docker push denniszielke/aci-helloworld:latest	       
        echo "Done"
